<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Pet Depot</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-if="cartItemCount > 0" v-on:click="showCheckout">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>Checkout
            </button>
        </header>
        <main>
            <div v-if="showProduct">
                <figure>
                    <img v-bind:src="product.image"/>
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-html="product.description"></p>
                <p>Price: {{ product.price | currency }}</p>
                <p>Available stock: {{ product.availableInventory - cartItemCount}}</p>
                <button v-on:click="addToCart" :disabled="!canAddToCart">
                    Add to cart
                </button>                
                <button disabled="disabled" v-else>
                    Add to cart
                </button>
            </div>
            <div v-else>
                <!-- Checkout logic will go here -->
            </div>
        </main>
    </div>

    <script type="text/javascript">
        Vue.filter('currency', function (value) {
            return '$' + (value / 100).toFixed(2);
        });

        let webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue.js Pet Depot',
                showProduct: true,
                product: {
                    id: 1001,
                    title: "Cat Food, 25lb bag",
                    description: "A 25 pound bag of <em>irresistible</em> cat food to keep your pet healthy and happy.",
                    price: 2000,
                    image: "cat.png",
                    availableInventory: 5
                },
                cart: [] // array to store items in shopping cart 
            },
            methods:{
                addToCart: function() {
                    if (this.product.availableInventory>0){
                    this.cart.push(this.product.id);
                    }
                },
                showCheckout(){
                    this.showProduct = !this.showProduct;
                }
            },
            computed: {
                cartItemCount: function() {
                    return this.cart.length || "";
                },
                canAddToCart: function() {
                    return this.product.availableInventory > this.cartItemCount;
                }
            }
        });
    </script>
</body>
</html>
